container{
  width: 80%;
  margin: 10px auto;
}
.what{
  font-style: serif italic;
  text-align: center;
  color: white;
  width: 1300px;
  height: 600px;
  background-image: url("http://www.wallpaperscharlie.com/wp-content/uploads/2016/06/cool-hd-wallpapers-for-girls-1.jpg");
  background-size: 1300px 600px;
  padding-bottom: 10px;
  padding-right: 400px;
}
.main{
  color: green;
  padding-right: 300px;
  width: 1315px;
  height: 563px;
  background-image: url("https://media4.giphy.com/media/EfZGQab74KZGM/giphy.gif");
  background-size: 1315px 563px;

}
.main1{
  height: 542px;
  background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BYjdlYjM2NGItZTY0Mi00NmVjLWIwMTAtNTBiZTg4NTc3NGJjXkEyXkFqcGdeQXVyNjExODE1MDc@._V1_UY268_CR76,0,182,268_AL_.jpg");
  background-size: cover;
  background-size: 305px 542px;
  text-decoration-color: blue;
}

label{
  font-size: 40px;
}
.answers{
  background-image: url("https://media0.giphy.com/media/cAgj5qHLp3qhy/giphy.gif");
  background-size: contain;
  font-size: 35px;
  font-style: serif italic;
  color: blue;
}
