container{
  width: 80%;
  margin: 10px auto;
}
.what{
  font-style: serif italic;
  text-align: center;
  color: white;
  width: 1300px;
  height: 600px;
  background-image: url(".../pingpong/img/ac_syndicate-wallpaper-3840x2160.jpg");
  background-size: 1300px 600px;
  padding-bottom: 10px;
  padding-right: 400px;
}
.main{
  color: green;
  padding-right: 300px;
  width: 1315px;
  height: 563px;
  background-image: url(".../pingpong/img/giphy.gif");
  background-size: 1315px 563px;

}
.main1{
  height: 542px;
  background-image: url(".../pingpong/img/254724780805 (1)-1.jpg");
  background-size: cover;
  background-size: 305px 542px;
  text-decoration-color: blue;
}

label{
  font-size: 40px;
}
.answers{
  background-image: url(".../pingpong/img/75239_310847778985395_100001805254657_717352_917946010_n.jpg");
  background-size: contain;
  font-size: 35px;
  font-style: serif italic;
  color: blue;
}
